@inherits ComponentBaseMarketplaceFullCustom<FaqResponseViewModel, FaqRequestViewModel>

@page "/faq/{Id?}"

<PageTitle>
    @(Resources.DataDictionary.Faq)
</PageTitle>

<PageDescription PageDescriptionModel="@(_pageDescription)"/>

<Card>
    <CardHeader UpdateMode="string.IsNullOrEmpty(Model.Id) == false"/>
    <CardBody>
        <Form>
            <FormControlSection OneRow="true">
                <LabelText For="description">
                    @(Resources.DataDictionary.Question)
                </LabelText>
                <TextAreaCustom @bind-Value="@(Model.Question)" Id="@(nameof(Model.Question))"
                                Rows="3"></TextAreaCustom>
            </FormControlSection>
            
            <FormControlSection OneRow="true">
                <LabelText For="description">
                    @(Resources.DataDictionary.Answer)
                </LabelText>
                <TextAreaCustom @bind-Value="@(Model.Answer)" Id="@(nameof(Model.Answer))"
                                Rows="3"></TextAreaCustom>
            </FormControlSection>
            
            <FormControlSection>
                <LabelText For="@(nameof(Model.Icon))">
                    @(Resources.DataDictionary.File)
                </LabelText>
                <InputFileCustom FilesChanged="OnFileHandle" Id="@(nameof(Model.Icon))"/>
            </FormControlSection>
            <FormControlSection>
                <LabelText For="ReadTime">
                    @(Resources.DataDictionary.ReadTime)
                </LabelText>
                <InputNumberCustom @bind-Value="@(Model.ReadTime)" Id="ReadTime"
                                   Placeholder="@($"{Resources.DataDictionary.ReadTime} - {Resources.DataDictionary.Faq}")"/>
            </FormControlSection>
            <FormControlSection>
                <LabelText For="order" Description="@(Resources.Messages.ForOrdering)">
                    @(Resources.DataDictionary.Order)
                </LabelText>
                <InputNumberCustom @bind-Value="@(Model.Ordering)" Id="order"
                                   Placeholder="@(Resources.Messages.ForOrdering)"/>
            </FormControlSection>
            <FormControlSection IsCheckBoxSection="true">
                <InputCheckBoxCustom @bind-Value="@(Model.IsActive)" Id="@(nameof(Model.IsActive))"/>
                <LabelCheck For="@(nameof(Model.IsActive))">
                    @(Resources.DataDictionary.IsActive)
                </LabelCheck>
            </FormControlSection>

            <FormControlSection OneRow="true">
                <LabelText For="description">
                    @(Resources.DataDictionary.Description)
                </LabelText>
                <TextAreaCustom @bind-Value="@(Model.Description)" Id="@(nameof(Model.Description))"
                                Rows="3"/>
            </FormControlSection>
        </Form>
    </CardBody>
    <CardFooter>
        @if (string.IsNullOrEmpty(Model.Id) == true)
        {
            <ButtonCreate OnCLick="@(CreateAsync)"/>
        }
        else
        {
            <ButtonSaveChanges OnCLick="@(() => _modalUpdateQuestion!.ShowAsync(Model.Id))"/>
            <ButtonCancel OnCLick="@(OffUpdateMode)"/>
        }
    </CardFooter>
</Card>

<hr>

@* <FormSearch OnSearch="textSearch => OnSearchAsync(textSearch)"/> *@

<TableSection>
    <Table>
        <TableHead>
            <TableRow IsActive="true">
                <TableHeader>@(Resources.DataDictionary.Row)</TableHeader>
                <TableHeader>@(Resources.DataDictionary.CreateDate)</TableHeader>
                <TableHeader>@(Resources.DataDictionary.Question)</TableHeader>
                <TableHeader>@(Resources.DataDictionary.Answer)</TableHeader>
                <TableHeader>@(Resources.DataDictionary.ReadTime)</TableHeader>
                <TableHeader>@(Resources.DataDictionary.Icon)</TableHeader>
                <TableHeader>@(Resources.DataDictionary.Order)</TableHeader>
                <TableHeader>@(Resources.DataDictionary.Opration)</TableHeader>
            </TableRow>
        </TableHead>
        <TableBody>
            @if (List is null)
            {
                <TableRow TableColor="BootstrapColor.Warning">
                    <TableData Colspan="10">
                        @(Resources.Messages.TextLoading)
                    </TableData>
                </TableRow>
            }
            else
            {
                for (int index = 0; index < List.Count; index++)
                {
                    FaqResponseViewModel item = List[index];

                    var showIndex = index;

                    <TableRow IsActive="item.IsActive">
                        <TableData>@(showIndex + 1)</TableData>
                        <TableData>@(item.CreateDateShamsi) | @(item.CreateTime)</TableData>
                        <TableData>@(item.Question)</TableData>
                        <TableData MaxWidth="450">@(item.Answer)</TableData>
                        <TableData>@(item.ReadTime)</TableData>
                        <TableData>
                            <FileThumbnailViewre ThumbnailSize="30"
                                Alternative="@(item.Answer)"
                                                 FileHasExist="item.FileIconHasExist"
                                                 FileThumbnailHasExist="false"
                                                 FileThumbnailUrl="@(null)"
                                                 FileUrl="@(item.FileUrlIcon)"
                                                 ImageTitle="@(item.Answer)"/>
                        </TableData>
                       
                        <TableData>@(item.Ordering)</TableData>
                        <TableData>
                            <Update_Delete OnClickedDeleteButton="() => _modalDeleteQuestion!.ShowAsync(item.Id!)"
                                           OnClickedUpdateButton="() => GoToPageAsync(MarketplaceRoutes.Faq(), item.Id!)"></Update_Delete>
                        </TableData>
                    </TableRow>
                }
            }
        </TableBody>
    </Table>
    <PaginationSystem @ref="_paginationSystem"
                      MetaData="_metaData"
                      OnChangedMetaData="CallbackMetaData"/>
</TableSection>

<ModalLoading @ref="_loadingModal"/>

<ModalDeleteQuestion @ref="_modalDeleteQuestion" OnDeleteConfirmed="DeleteAsync"/>

<ModalUpdateQuestion @ref="_modalUpdateQuestion" OnUpdateConfirmed="UpdateAsync"/>

<ModalQuestionDeleteAttachments @ref="_modalUpdateQuestionDeleteAttachments"
                                OnDeleteAttachmentsConfirmed="DeleteImageAsync"/>